{% extends 'base.html.twig' %}

{% block title %}Cabinet d'Audit Experius{% endblock %}

{% block body %}
<div class="k2t-body">

			<div class="k2t-content no-sidebar" style="padding-bottom: 0px;">
				<!--debut de slidier image-->
				<div class="slideshow-container">

					<div class="mySlides fadetest">
						<img src="images/conversation.jpg" style="width:100%">
						<div class="txt-image tp-caption whitebig   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="1" data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-captionhidden="on" style="
                            position: absolute;top: 50%;left: 0;margin: -100px auto 0 auto;right: 0;z-index: 5; white-space: nowrap; font-size: 37px; line-height: 51px; text-align: center; background-color: rgba(96, 96, 96, 0.7); padding: 4px; border-color: rgb(0, 0, 0); visibility: inherit; transition: none 0s ease 0s; border-width: 0px; letter-spacing: 0px; font-weight: 300; min-height: 0px; min-width: 0px; max-height: none; max-width: 476px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">{{ 'Commissariat aux comptes'|trans }}
							<br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">
							{{ 'Audit financier et comptable'|trans }}<br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">

						</div>
					</div>

					<div class="mySlides fadetest">
						<img src="images/juridique.jpg" style="width:100%">
						<div class="txt-image tp-caption whitebig   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="1" data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-captionhidden="on" style="
                            position: absolute;top: 50%;left: 0;margin: -100px auto 0 auto;right: 0;z-index: 5; white-space: nowrap; font-size: 37px; line-height: 51px; text-align: center; background-color: rgba(96, 96, 96, 0.7); padding: 4px; border-color: rgb(0, 0, 0); visibility: inherit; transition: none 0s ease 0s; border-width: 0px; letter-spacing: 0px; font-weight: 300; min-height: 0px; min-width: 0px; max-height: none; max-width: 476px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
							Experius<br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">
							Membre de l'ordre <br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">
							des experts comptables
						</div>
					</div>

					<div class="mySlides fadetest">
						<img src="images/presentation-cabinet.jpeg" style="width:100%">
						<div class="txt-image tp-caption whitebig   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="1" data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-captionhidden="on" style="
                            position: absolute;top: 50%;left: 0;margin: -100px auto 0 auto;right: 0;z-index: 5; white-space: nowrap; font-size: 37px; line-height: 51px; text-align: center; background-color: rgba(96, 96, 96, 0.7); padding: 4px; border-color: rgb(0, 0, 0); visibility: inherit; transition: none 0s ease 0s; border-width: 0px; letter-spacing: 0px; font-weight: 300; min-height: 0px; min-width: 0px; max-height: none; max-width: 476px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
							Accompagnement comptable <br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">
							Conseil juridique<br style="transition: none 0s ease 0s; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 18px;">
							Organisation et process
						</div>
					</div>
					<!--next arrow-->
					<div class="tp-rightarrow tparrows hades  noSwipe" style="top: 50%; transform: matrix(1, 0, 0, 1, -120, -50); left: 100%;" onclick="plusSlides(1)">
						<div class="tp-arr-allwrapper">
							<div class="tp-arr-imgholder" style="background-image: url('images/juridique.jpg');">
							</div>
						</div>
					</div>
					<!--previous arrow-->
					<div class="tp-leftarrow tparrows hades  noSwipe" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -50); left: 0px;" onclick="plusSlides(-1)">
						<div class="tp-arr-allwrapper">
							<div class="tp-arr-imgholder" style="background-image: url('images/presentation-cabinet.jpeg');">
							</div>
						</div>
					</div>


				</div>
				<br>

				<div class="align-btn" style="text-align:center; position: relative">
					<span class="dot" onclick="currentSlide(1)"></span>
					<span class="dot" onclick="currentSlide(2)"></span>
					<span class="dot" onclick="currentSlide(3)"></span>
				</div>
				<script>
					var slideIndex = 1;
					showSlides(slideIndex);

					function plusSlides(n) {
						showSlides(slideIndex += n);
					}
					function langDisplay() {
						var slides = document.getElementsByClassName("langDisplay");
						slides[0].style.display = "contents";
					}
					function langHide() {
						var slides = document.getElementsByClassName("langDisplay");
						slides[0].style.display = "none";
					}

					function currentSlide(n) {
						showSlides(slideIndex = n);
					}

					function showSlides(n) {
						var i;
						var slides = document.getElementsByClassName("mySlides");
						var dots = document.getElementsByClassName("dot");
						if (n > slides.length) { slideIndex = 1 }
						if (n < 1) { slideIndex = slides.length }
						for (i = 0; i < slides.length; i++) {
							slides[i].style.display = "none";
						}
						for (i = 0; i < dots.length; i++) {
							dots[i].className = dots[i].className.replace(" active", "");
						}
						slides[slideIndex - 1].style.display = "block";
						dots[slideIndex - 1].className += " active";
					}
				</script>

				<!--fin  de slidier image-->
			</div>
			<!-- .k2t-content -->
		</div>
		<!-- .k2t-body -->
		<div class="row" style=" margin: 0 auto;">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<h2 style="text-align: center;">Qui sommes nous?</h2>
			</div>

			<!--<div class="col-md-6 col-lg-4 col-xl-4">

		<img src="images/solution-sur-mesure-2.jpeg" style="width: 100%;" />

		<h3 style="color: white;font-size: 30px;font-weight: 300;text-align:center; position:relative;bottom:90px;">Services pragmatiques &raquo;</h3>


	</div>-->
			<div class="col-md-12 col-lg-12 col-xl-12">
				<p style="color: #FFFFFF; background-color: #292d31;font-size: 21px;font-family: Arial;text-align: justify;padding: 25px;">
					EXPERIUS vous offre une expérience technique dans les différentes missions d'audit et de conseil dans le cadre d'un parténariat de confiance en offrant une écoute active
					et une relation de travail collaborative.Nous apportons à nos clients des solutions sur mesure dans differents domaines et les accompagnons dans leurs mise en œuvre.
				</p>
			</div>
			<!--<div class="col-md-6 col-lg-4 col-xl-4">
		<img src="images/solution-sur-mesure-2.jpeg" style="width: 100%;" />
		<div style="position:relative;bottom:90px;">
			<h3 style="color: white;font-size: 30px;font-weight: 300;text-align:center;">Solutions sur mesures &raquo;</h3>

		</div>
	</div>-->
			<!-- nos domaines d'expertises -->
			<div class="col-md-12 col-lg-12 col-xl-12">
				<h2 style="text-align: center;">{% trans %}Nos domaines dexpertises{% endtrans %}</h2>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4 paddingXS">

				<a href="#"><img src="images/accompagnement_comptable.jpg" style="width: 100%;height: 250px !important;" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Accompagnement comptable et financier</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4" >

				<a href="#"><img src="images/fiscalite.jpg" style="width: 100%;height: 250px !important" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Fiscalité</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">

				<a href="#"><img src="images/solution-sur-mesure.jpeg" style="width: 100%; height:250px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Audit et commissariat aux comptes</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">

				<a href="#"><img src="images/conseil_juridique.jpg" style="width: 100%;height:250px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Conseil juridique</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4" >

				<a href="#"><img src="images/advisory.jpg" style="width: 100% ; height:250px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Advisory</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">

				<a href="#"><img src="images/banking.jpg" style="width: 100%; height:250px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Banking</h3></a>

				</div>
			</div>
			<!-- nos valeurs -->
			<div class="col-md-12 col-lg-12 col-xl-12">
				<h2 style="text-align: center;">Nos valeurs</h2>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2">

				<a href="#"><img src="images/Customer-Satisfaction-Loyalty-icon1.png" style="width: 100%;height: 150px !important;" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Client</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2" style="padding:0px" ;>

				<a href="#"><img src="images/solution-sur-mesure.png" style="width: 100%;height: 150px !important" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Solution sur mesure</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2">

				<a href="#"><img src="images/bonne-qualite.png" style="width: 100%; height:150px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Qualité</h3></a>

				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2">

				<a href="#"><img src="images/transparencytt.jpg" style="width: 100%;height: 150px !important;" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Transparence</h3></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2" style="padding:0px" ;>
				<a href="#"><img src="images/proximite.png" style="width: 100%;height: 150px !important" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Proximité</h3></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-xl-2">

				<a href="#"><img src="images/partage.png" style="width: 100%; height:150px" /></a>
				<div>
					<a href="#"><h3 style="font-size: 20px;font-weight: 400;text-align:center;">Partage</h3></a>

				</div>
			</div>

		</div>
{% endblock %}
