{% extends 'base.html.twig' %}

{% block title %}Values -experius{% endblock %}
{% block stylesheets %}
<style>
		.h-element span {
			font-family: Arial;
		}
		.ttttt {
			margin-left:10px;
		}
		
		.testeur .dropdown-toggle::after {
			display: none;
		}

	</style>
{% endblock %}

{% block body %}
<!--  nos six grandes valeurs-->

		<h3 style=" text-transform: uppercase;text-align: center;"> Nos Valeurs</h3>
		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-4 ">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/client_satisfait.png" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Client</h3>
						<p style="font-family: Arial;font-size: 17px; margin: 12px;    height: 93px;">
							La satisfaction de nos clients constitue le socle de nos valeurs
							et l’objectif de notre démarche d’amélioration de nos offres nous
							permettant de consolider notre image de marque.
						</p>

					</div>

				</div>

			</div>
			<div class="col-md-6 col-lg-4 col-xl-4 ">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/solution_sur_mesure.png" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Solution sur mesure</h3>
						<p style="font-family: Arial;font-size: 17px;  margin: 12px;  height: 93px;">
							Chaque client est authentique. L’accompagnement de nos clients se base sur une approche de personnalisation tenant
							compte notamment de son activité, de son environnement et de ses besoins pour apporter des solutions sur mesure.
						</p>

					</div>

				</div>

			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/bonne-qualite.png" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Qualité</h3>
						<p style="font-family: Arial;font-size: 17px;margin: 12px; height: 93px;">
							La Qualité est la valeur sûre que nous construisons à travers nos interventions et relations avec nos clients
							nous permettant de construire dans une perspective de long terme dans un environnement en constante évolution.
						</p>

					</div>

				</div>

			</div>
		</div>
		<div class="row" style="margin-top:30px;">
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/transparencytt.jpg" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Transparence</h3>
						<p style="font-family: Arial;font-size: 17px; margin: 12px;    height: 93px;">
							Notre relation avec nos clients est basée sur la transparence au niveau de nos approches 
							et plans d’action ainsi que dans la présentation des objectifs et résultats de nos interventions.
						</p>

					</div>

				</div>

			</div>
			<div class="col-md-6 col-lg-4 col-xl-4 ">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/proximite.png" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Proximité</h3>
						<p style="font-family: Arial;font-size: 17px;  margin: 12px;    height: 93px;">
							À l’écoute permanente de nos clients, nous nous soucions de leurs besoins, de leur 
							environnement, de leurs perspectives de développement avec une vision de Business Partner.
						</p>

					</div>

				</div>

			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div style="border: 1px solid; border-radius: 5px;margin-top: 5px; background-color: #f7f7f7;border-color: #F0F0F0;">
					<div style="margin: 7px auto; width: 111px;">
						<img src="images/partage.png" style="width: 166px;height: 105px !important; " />
					</div>

					<div>
						<h3 style="font-size: 20px;font-weight: 400;text-align:center;text-transform: uppercase;">Partage</h3>
						<p style="font-family: Arial;font-size: 17px;margin: 12px; height: 93px;">
							La Qualité est la valeur sûre que nous construisons à travers nos interventions et relations avec nos clients
							nous permettant de construire dans une perspective de long terme dans un environnement en constante évolution.
						</p>

					</div>

				</div>

			</div>
		</div>

{% endblock %}
