/**
* The stylesheet for displaying on mobile device.
*
* @package Lincoln
* @author  LunarTheme
* @link	http://www.lunartheme.com
*/

/*--------------------------------------------------------------
	1. Max Screen 1300px
--------------------------------------------------------------*/
@media only screen and (max-width: 1300px) and (min-width: 1170px) {
	.outside-info {
		top: auto ! important;
		bottom: 19px;
		left: auto ! important;
	}
	.post-item .outside-date,
	.post-item .outside-icon {
		display: inline-block;
		*display: block;
		*zoom: 1;
		height: 40px;
		margin: 0
	}
	.post-item .outside-date {
		width: 80px;
		margin-right: -3px;
	}
	.post-item .outside-icon {
		padding-top: 11px
	}
	.post-item .outside-date {
		padding-top: 5px
	}
	.post-item .outside-date span {
		display: inline-block;
		margin-left: 5px;
		font-size: 50%;
	}
}

/*--------------------------------------------------------------
	1. Max Screen 1280px
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px){
	.k2t-header-mid .k2t-menu li:nth-last-child(2) ul li ul {
		left: -190px
	}
}


/*--------------------------------------------------------------
	1. Max Screen 1199px
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px){
	.single-footer-nav {
		position: static;
		margin-bottom: 30px;
	}
	.single-footer-nav a {
		font-size: 128.5%;
	}
	.k2t-pagination-lite {
		position: static;
		margin-top: 30px;
	}
	.k2t-pagination-lite a {
		padding: 30px 20px;
	}
	.widget #wp-calendar td#today {
		background: transparent;
		font-size: 115%;
		font-weight: bold;
		color: #3f51b5;
	}
}


/*--------------------------------------------------------------
	1. Max Screen 1200px
--------------------------------------------------------------*/
@media only screen and (max-width: 1200px){
	.k2t-header > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 1200px) {
	.single-post .k2t-body .k2t-content,
	.k2t-body .k2t-content.pagination_lite {
		padding-bottom: 300px;
	}
	.tp-caption.whitebutton,
	.tp-caption.primarybutton {
		width: 220px;
	}
	.k2t-shop-sidebar .textwidget img {
		width: 100%;
	}
}

/*--------------------------------------------------------------
	1. Max Screen 1170px
--------------------------------------------------------------*/
@media only screen and (max-width: 1170px){
	.k2t-body .k2t-content,
	.k2t-title-bar {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*--------------------------------------------------------------
	2. Max Screen 1024px
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	/*----------- 2.1 Container -----------*/
	.k2t-container {
		width: 100%;
	}
	.k2t-info,
	.k2t-not-found,
	.vc_row > div > .wpb_column,
	.vc_row > div > div > .wpb_column {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.vc_row > div > .wpb_column.mobile-nopadding,
	.vc_row > div > div > .wpb_column.mobile-nopadding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	/*----------- 2.5 Menu -----------*/
	.k2t-header-mid .k2t-menu li ul {
		top: 80px;
	}
	.k2t-header-mid .k2t-menu > li > a {
		line-height: 80px;
		padding: 0 15px;
		font-size: 95%;
	}
	.k2t-header-mid .k2t-logo img {
		max-height: 44px;
	}
	.k2t-btt {
		bottom: 10px;
		right: 10px;
	}
}

/*--------------------------------------------------------------
	5. Screen between 800px to 900px
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.k2t-title-bar .main-title {
		font-size: 30px;
	}
	.k2t-info .row [class*="col-"] {
		float: none;
		width: 100%;
		text-align: center;
	}
	.b-masonry [class*="column-"] .grid-sizer {
		width: 50%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 50%;
	}
	.single-footer-nav a {
		padding: 30px 20px;
	}

	/*----------- 2.5 Menu -----------*/
	.k2t-header-mid {
		height: 70px;
	}
	.k2t-header-mid .k2t-menu li ul {
		top: 62px;
	}
	.k2t-header-mid .k2t-menu > li > a {
		line-height: 60px;
		padding: 0 10px;
		font-size: 90%;
	}
	.k2t-header-mid .k2t-logo {
		margin: 20px 0 0;
	}
	.k2t-header-mid .k2t-logo img {
		max-height: 40px;
	}
	.course-filter ul li:first-child,
	.course-filter ul li {
		width: 33.33%;
	}
}

/*--------------------------------------------------------------
	3. Max Screen 800px
--------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
	.right-sidebar .k2t-blog, 
	.right-sidebar .k2t-main {
		padding-right: 0;
	}

	/*----------- 2.2 Header -----------*/
	.k2t-header > *:not(.k2t-header-m) {
		display: none;
	}
	.k2t-header {
		padding-top: 0;
	}
	.k2t-header-m {
		background: #fff;
		display: block;
		z-index: 1000;
		width: 100%;
		-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2); 
		-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
		-ms-box-shadow: 0 3px 5px rgba(0,0,0,.2); 
		box-shadow: 0 3px 5px rgba(0,0,0,.2);
	}

	/*----------- 2.5 Menu -----------*/
	.m-trigger {
		height: 30px;
		width: 30px;
		z-index: 100;
		position: relative;
		display: inline-block;
		top: 10px;
		margin: 9px 5px;
		cursor: pointer;
	}
	.m-trigger:hover span,
	.m-trigger:hover span:before,
	.m-trigger:hover span:after {
		background-color: #3f51b5
	}
	.m-trigger span,
	.m-trigger span:before,
	.m-trigger span:after {
		background-color: #767676;
		content: "";
		display: block;
		height: 3px;
		width: 14px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition:    all .3s ease-in-out;
		transition:         all .3s ease-in-out;
	}
	.m-trigger span {
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);
		transform:         translate(-50%, -50%);
	}
	.m-trigger span:before {
		margin-top: -5px;
		position: absolute;
	}
	.m-trigger span:after {
		margin-top: 5px;
		position: absolute;
	}
	.m-trigger.open span {
		background-color: transparent !important;
		left: 54%;
	}
	.m-trigger.open span:before,
	.m-trigger.open span:after {
		width: 14px;
		-webkit-transform: rotate(45deg);
		-moz-transform:    rotate(45deg);
		-ms-transform:     rotate(45deg);
		-o-transform:      rotate(45deg);
		transform:         rotate(45deg);
		-webkit-transform-origin: 0 50%;
		-ms-transform-origin:     0 50%;
		transform-origin:         0 50%;
	}
	.m-trigger.open span:after {
		-webkit-transform: rotate(-45deg);
		-moz-transform:    rotate(-45deg);
		-ms-transform:     rotate(-45deg);
		-o-transform:      rotate(-45deg);
		transform:         rotate(-45deg);
	}
	body {
		right: auto;
		left: 0;
	}
	body.nav-is-visible,
	body.nav-is-visible .k2t-header-m {
		left: 260px;
	}
	.nav-is-hide,
	.menu-mobile-wrap,
	.menu-mobile-wrap ul,
	.k2t-menu-m .menu,
	.k2t-menu-m .menu ul {
		-webkit-transition: all .4s ease-in-out;
		-moz-transition:    all .4s ease-in-out;
		transition:         all .4s ease-in-out;
		-ms-transition:     all .4s ease-in-out;
	}

		/* Is active mobile menu on admin
		---------------------------- */
	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 32px;
	}
	.menu-mobile-wrap {
		background: #2e3233;
		left: 0;
		z-index: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
	}
	.menu-mobile-wrap,
	.menu-mobile-wrap ul {
		margin: 0;
		width: 0;
		height: 100%;
		list-style: none;
	}
	.menu-mobile-wrap ul {
		width: 100%;
	}
	.menu-mobile-wrap > ul{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu-mobile-wrap.active > ul{ 
		left: 0;
	}
	.menu-mobile-wrap > ul ul{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu-mobile-wrap ul ul,
	.menu-mobile-wrap:not(.active) ul ul.is-visible,
	.menu-mobile-wrap > ul.is-hide,
	.menu-mobile-wrap ul ul.is-hide  {
		width: 0;
	}
	.menu-mobile-wrap.active,
	.menu-mobile-wrap ul ul.is-visible {
		width: 100%;
	}
	.menu-mobile-wrap ul li {
		position: relative;
	}
	.menu-mobile-wrap ul li a {
		font-size: 100%;
		font-weight: 400;
		border-bottom: 1px solid #3a3f40;
		padding: 10px;
		display: block;
		color: #fff;
	}
	.menu-mobile-wrap ul .sub-open {
		background: #464c4e;
		display: none;
		height: 24px;
		line-height: 22px;
		position: absolute;
		right: 9px;
		text-align: center;
		bottom: 12px;
		width: 24px;
		cursor: pointer;
	}
	.menu-mobile-wrap ul .children > .sub-open {
		display: block;
	}
	.menu-mobile-wrap ul .menu-back {
		display: none;
	}
	.menu-mobile-wrap ul li.children > ul.is-visible > li:first-child .menu-back {
		display: block;
	}
	.k2t-info .k2t-row [class*="col-"] {
		width: 100%;
		float: none;
		text-align: center;
	}
	.k2t-info .widget_nav_menu {
		text-align: center;
	}
	
	/*----------- 2.4 Mobile element -----------*/
	.k2t-header-m > div {
		width: 33.3%;
		float: left;
	}
	.k2t-header-m .k2t-logo-m {
		text-align: center;
		margin: 20px 0 15px;
	}
	.k2t-right-m {
		text-align: right;
	}
	.k2t-right-m > * {
		display: inline-block;
	}
	.k2t-logo-m .k2t-logo img {
		max-height: 40px;
	}

	.k2t-right-m > div {
		margin: 25px 10px 20px;
		height: 15px;
	}
	.open-sidebar {
		margin: 0;
	}
	.search-box {
		position: relative;
		top: -2px;
	}
	#close-canvas {
		display: none;
	}

	.k2t-body section.container > #main, .k2t-body section.container > div.k2t-shop-sidebar{
		width: 100%;
		clear: both;
		padding-right: 0;
	}
	.right-sidebar .k2t-blog,
	.left-sidebar .k2t-blog,
	.right-sidebar .k2t-main,
	.left-sidebar .k2t-main,
	.k2t-body .k2t-sidebar,
	.archive .k2t-main {
		width: 100% !important;
		padding: 0;
	}

	.k2t-logo-m .k2t-logo {
		margin: auto;
	}
	.k2t-bottom .k2t-row {
		margin: 0 5px;
	}
	.wpcf7 .wpcf7-form > p{
		margin-bottom: 25px;
	}
	.k2t-member .team-avatar {
		height: auto;
	}

	/* Blog */
	.format-video .flx-entry-thumb .wp-video, 
	.format-video .flx-entry-thumb .wp-video .mejs-video, 
	.format-video .flx-entry-thumb video, 
	.format-video .flx-entry-thumb .mejs-overlay, 
	.format-video .flx-entry-thumb iframe, 
	.format-audio .flx-entry-thumb iframe {
		min-height: 200px;
	}

	/* Portfolio */
	.k2t-detail-item .k2t-detail-img,
	.k2t-detail-item .k2t-content {
		width: 100%;
		float: none;
	}
	.k2t-detail-item .k2t-detail-img {
		margin-bottom: 20px;
	}
	.k2t-detail-item .k2t-content > * {
		margin-left: 0;
	}

	/* WOOCOMERCE */
	.woocommerce-page.columns-5 ul.products li.product,
	.woocommerce.columns-5 ul.products li.product {
		width: 48% !important;
	}
	.woocommerce-account .k2t-content .woocommerce {
		width: auto;
	}

	/* 404 */
	.error-404-left, .error-404-right {
		width: 50%;
	}
	.error-404-right {
		margin: 10px 0;
		padding-left: 5%
	}


	/* Button */
	.k2t-button.align-right, .k2t-button.align-left{
		text-align: center;
		margin-top: 20px;
	}
	.post-item .more-link {
		float: none;
	}

	/* Footer */
	.k2t-main ul.info-footer {
		text-align: center !important;
	}
	.k2t-footer .k2t-wrap .k2t-row .col-3 {
		width: 50%;
	}
	.k2t-footer .k2t-wrap .k2t-row .col-3:nth-child(3){
		clear: both;
	}
	.k2t-body .k2t-sidebar {
		margin-top: 30px;
	}
}
/*--------------------------------------------------------------
	4. Max Screen 767
--------------------------------------------------------------*/
@media only screen and (max-width: 767px){
	.k2t-right-m .canvas-sidebar {
		display: none;
	}
	.k2t-title-bar .main-title::after {
		display: none;
	}
	.wpcf7 .half-line {
		width: 100%;
		float: none;
	}
	.b-grid .grid-layout[class*="column"] .hentry {
		width: 100%;
	}
	.b-masonry [class*="column-"] .grid-sizer {
		width: 100%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 100%;
	}
	.single-footer-nav a span.tt {
		display: none;
	}
	.single-footer-nav a span:not(.tt) {
		font-size: 100%;
	}
	.about-author img {
		float: none;
		margin-bottom: 15px;
	}
	.hidden-xs {
		display: none;
	}
	.wpcf7 .one-third {
		width: 100%;
	}
	#loader-wrapper {
		display: none;
	}
	.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading {
		background: #3f51b5!important;
	}
	.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading a {
		color: #fff!important;
	}
	.k2t-gallery-heading .gallery-title:after {
		display: none;
	}
	.k2t-project-heading h2:after,
	.k2t-project-heading h2:before {
		display: none;
	}
	.course-filter ul li:first-child{
		width: 100%;
		padding: 0 15px;
	}
	.course-filter ul li {
		width: 50%;
		padding: 0 15px;
	}
	.course-filter ul li:last-child {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 768px) {
	.scroll-bottom .k2t-btt {
		width: 50px;
		height: 50px;
		right: 35px;
	}
	.scroll-bottom .k2t-btt i {
		line-height: 50px;
	}
	.k2t-btt:hover {
		right: 35px;
	}
}
/*--------------------------------------------------------------
	5. Screen between 568px to 767px
--------------------------------------------------------------*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
	.vc_row .wpb_column{
		margin-top: 0;
	}
	.vc_row .wpb_column.mobile-nomargin {
		margin-bottom: 0;
	}

	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 46px;
	}	
	.k2t-bottom .k2t-footer-line {
		display: none;
	}
	.member-box .vc_column_container {
		width: 50%;
		float: left;
	}
}
@media (max-width: 640px) {
	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item{
		width: 33.33%;
	}
}
/*--------------------------------------------------------------
	6. Max Screen 568px
--------------------------------------------------------------*/
@media only screen and (max-width: 568px){
	/* Container */
	.k2t-row [class*="col-"],
	.row [class*="col-"] {
		width: 100% !important;
		display: inline-block !important;
	}
	div:not(.offcanvas-sidebar) .k2t-sidebar .widget,
	.k2t-post-share .col-6 {
		width: 100%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 100%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry.large {
		width: 98%;
	}
	.k2t-searchbox form {
		width: 90%;
		margin-left: -45%;
	}
	.k2t-sidebar .widget {
		padding: 20px 0 0 0;
	}
	.k2t-post-share .col-6 {
		margin-bottom: 20px;
	}
	.k2t-social-share {
		text-align: center;
	}

	/* Disable */
	.mobile-disable {
		display: none;
	}

	/* Titlebar */
	.k2t-title-bar {
		text-align: left;
	}

	/* Blog */
	.b-masonry .masonry-layout article > * {
		padding: 0
	}
	.b-medium .post-item .flx-entry-thumb {
		width: auto;
		height: auto;
		margin: 20px;
		float: none;
	}
	.b-classic .k2t-meta > div.posted-info, .single .k2t-meta > div.posted-info{
		display: none;
	}
	.b-classic .k2t-meta, .single .k2t-meta{
		padding: 10px 15px;
	}
	.b-classic .k2t-meta .my, .single .k2t-meta .my{
		font-size: 122%;
	}
	.b-classic .k2t-meta span.d, .single .k2t-meta span.d{
		font-size: 300%;
		line-height: 1em;
	}
	.post-item header .entry-author, 
	.post-item header .entry-date, 
	.post-item header .entry-categories {
		margin-right: 20px
	}

	/* Heading */
	.k2t-heading.has-border.heading .h::before, .k2t-heading.heading .h::after{
		content: none;
	}
	.k2t-heading.has-border.heading .h span{
		border: none;
		padding: 0;
		text-align: center;
	}

	/* Text */
	.k2t-countdown .ele .unit {
		font-size: 150%;
	}
	.k2t-iconbox.layout-2 > .iconbox-text *, 
	.k2t-iconbox.layout-2 > .iconbox-icon  * {
		text-align: center;
	}
	.single-post-portfolio .portfolio-title {
		padding-right: 115px;
	}

	/* Commnent */
	#commentform > p.comment-form-author, 
	#commentform > p.comment-form-email, 
	#commentform > p.comment-form-url {
		width: 100%;
	}
	.action-link {
		display: none;
	}

	/* 404 */
	.error-404-left, .error-404-right {
		width: 100%;
	}
	.error-404-right {
		margin: 30px 0 0;
		padding-left: 0
	}

	/* Footer */
	.k2t-footer .k2t-info{
		text-align: center;
	}
	.k2t-footer .k2t-bottom {
		padding-top: 20px
	}
	.k2t-bottom .k2t-footer-line {
		display: none;
	}
	.k2t-info .row > div .social {
		text-align: center;
	}

	/* Team Social Link */
	.k2t-member .team-socials-link, .k2t-member .social-media-widget {
		float: none;
		width: 100%;
	}
	.k2t-member .team-socials-link li {
		float: none;
		display: inline-block;
	}

	/* Icons */
	.k2t-icons li {
		width: 100% ! important;
	}

	/* Subscribe Form */
	#frm-subscriptionFront #frm-email {
		width: 200px
	}

	/* Portfolio gallery */
	.portfolio-gallery .isotope-gallery .isotope-selector,
	.portfolio-gallery .isotope-gallery .isotope-selector.width-2 {
		width: 100% ! important
	}

	/* Contact form 7 */
	.wpcf7 .one-third {
		width: 100%;
		margin-right: 0;
	}

	/* Footer */
	.k2t-footer .k2t-wrap .k2t-row > div {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.course-filter ul li:first-child,
	.course-filter ul li,
	.course-filter ul li:last-child
	{
		width: 100%;
		padding: 0;
	}
	/* author-admin */
	.author-admin .k2t-title-bar {
	margin-bottom: 0;
	padding-bottom: 40px;
	padding-top: 40px;
	}
	.author-admin .k2t-title-bar .main-title,
	.author-admin .k2t-title-bar .author-email {
		padding-left: 10px;
	}
	.author-admin .k2t-title-bar .main-title {
		color: white;
		font-family: 'Roboto';
		font-size: 48px;
		font-weight: 400;
		margin-bottom: 0;
	}
	.author-admin .k2t-title-bar .main-title:after {
		content: '';
	}
	.author-admin .k2t-title-bar .author-email {
		color: white;
		font-size: 18px;
		font-family: 'Roboto';
		font-weight: 300;
	}
	.user-page .user-info-left {
		float:none;
		margin-left: 0;
		margin-top: 40px;
		margin-bottom: 0;
		width: 100%;
	}
	.user-page .user-info-left img {
		display: block;
		margin: 0 auto;
	}
	.user-page .user-info-right {
		margin-bottom: 20px;
	}
	/* k2t-register */ 
	.k2t-register > p {
		text-align: center;
	}
	.searchandfilter ul li input[type='submit'] {
		margin-top: 30px;
	}
	#buddypress .activity-list .activity-content .activity-inner iframe{
		min-height: auto;
	}
}
@media (max-width: 480px) {
	#theme-option {
		display: none;
	}
	.error404 .error-404-text {
		padding: 50px 0;
	}
	.error404 .error-404-text h2 {
		font-size: 200%;
	}
}
/*--------------------------------------------------------------
	7. Max Screen 320px
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	.offcanvas-sidebar {
		width: 280px;
	}
	.k2t-searchbox input[type="text"] {
		font-size: 178%;
	}
	.k2t-searchbox #searchsubmit {
		font-size: 110%;
		top: -2px;
	}
	.k2t-social-share .social li {
		margin: 5px;
	}
	.wpcf7 .wpcf7-form > p {
		margin-bottom: 15px;
	}
	/* WOOCOMERCE */
	.woocommerce-page.columns-5 ul.products li.product a.button,
	.woocommerce.columns-5 ul.products li.product  a.button {
		padding: 0 15px !important;
	}
	.woocommerce-account .k2t-content .woocommerce {
		padding: 40px 15px;
	}
	/* PORTFOLIO FREE STYLE */
	.isotope-gallery .isotope-selector,
	.isotope-gallery .isotope-selector.width-2 {
		width: 100% !important;
	}
	.k2t-blog .post-item header h2 {
		font-size: 150%;
	}
	.entry-box .entry-content {
		padding: 30px 15px;
	}

	/*Headings*/
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}

	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item{
		width: 50%;
	}

	/* Titelbar */
	.k2t-title-bar .main-title::after {
		display: none;
	}
	.k2t-title-bar .main-excerpt {
		font-size: 100%;
	}
	.k2t-title-bar .main-excerpt .entry-date, .k2t-title-bar .main-excerpt .entry-author {
		margin-right: 15px;
	}
	.single-post-k-event .calendar-import a,
	.single-post-k-event .calendar-import a:first-child {
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	.cd-dropdown {
		float: none;
		width: 100%;
	}
	.cd-dropdown ul {
		width: 100%;
	}
	.cd-dropdown ul li {
		width: 100%!important;
	}
	body.search .k2t-main .searchform .form-group input {
		width: 60%;
	}
	body.search .k2t-main .searchform .form-group button {
		width: 40%;
	}
	.entry-box blockquote {
		margin: 20px 0;
		font-size: 100%;
	}
	.woocommerce-page .woocommerce-message {
		padding-bottom: 50px!important;
	}
	.woocommerce .woocommerce-message .button {
		position: absolute;
		bottom: 0;
	}
}
